body{
    display: flex;
    position: fixed;
    padding: 0px;
    margin: 0px;

    background-image: url('SAMPLE.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    /* Pa-fix ng background image please huhu. */
}

.navbar {
    display: flex;
    position: absolute;
    width: 1512px;
    height: 70px;
    left: 0px;
    top: 0px;

    /* NAVBAR */

    background: #000000;
}

.navbar__categories{
    position: absolute;
    left: 64.48%;
    right: 22.69%;
    top: 18.28%;
    bottom: 19.35%;
}

.navbar__categtext{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* SMALL TEXT */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.navbar__cart{
    position: absolute;
    left: 76.31%;
    right: 14.81%;
    top: 18.28%;
    bottom: 19.35%;

}

.navbar__carttext{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* SMALL TEXT */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.navbar__login{
    position: absolute;
    left: 82.9%;
    right: 8.96%;
    top: 18.28%;
    bottom: 19.35%;

    /* LOGO TEXT */

    background: #F4722B;
    border-radius: 10px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* TEXT */

    color: #FFFFFF;
}

.body__sectionleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 0px;

    position: absolute;
    width: 560px;
    height: 554px;
    left: 98px;

}

.body__text{
    width: 560px;
    height: 441px;

    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 700;
    font-size: 95.37px;
    line-height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.body__shopnow{
    /* SHOP NOW */
    width: 150px;
    height: 45px;

    /* LOGO TEXT */

    background: #F4722B;
    border: none;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    /* display: flex;
    align-items: center;
    text-align: center; */

    color: #FFFFFF;
}

.body__sectionright{
    position: absolute;
    width: 555px;
    height: 51px;
    left: 840px;
    top: 400px;
}

.body__search{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 3px solid white;
}

.body__search::placeholder{
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 37px;

    text-align: right;
}

.body__search:focus{
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 20px;
}
