html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;

    background: #e6e3e3;

    width: 100%;
    height: auto;
}

/* Navigation Bar Section */

.navbar{
    width: 100%;
    height: 100vh;
    z-index: 999;

    background-image: url(Images/uplb2.jpg);
    background-size: cover;
}

header.sticky{
    height: 80px;

    background: #e6e3e3;
    box-shadow: 0px 4px 4px #acacac;
}

.navbar__bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;

    background: #806b5b;
    opacity: 0.75;
}

.navbar__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* max-width: 1600px; */

    position: fixed;

    border: none;
    width: 100%;
    height: 120px;

    transition: 0.6s;
}

/* Logo Section */

.navbar__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out;
}

.logo{
    width: 170px;
    height: 230px;
    object-fit: cover;

    margin-right: 30px;
}

.logo--dark{
    display: none;
}

#placeholder{
    width: 50px;
    height: 50px;
    
    border-radius: 50px;

    background: #CCBCBC;
}

.navbar__logo:hover{
    filter: drop-shadow(3px 3px 4px #fff);
}

/* Search Section */

form{
    max-width: 500px;
}

.input__container i{
    position: absolute;
    z-index: 1;
}

.icon{
    padding: 17px;
    color: #715B5B;
    width: 70px;
    text-align: left;
}

.input__placeholder{
    box-sizing: border-box;
    display: block;

    width: 500px;
    max-height: 50px;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.065em;

    outline: none;

    border-radius: 15px;
    border: 3px solid #715B5B;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, .5));

    padding: 15px 0px 15px 40px;
}

/* Sign Up Section */

.navbar__regcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: auto;
}

.navbar__btn{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;

    transition: all 1s ease-out;
}

.navbar__btn--signup{
    margin-left: 292px;
}

.navbar__btntext{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.065em;
    color: #fff;

    text-decoration: none;
}

.navbar__divider--reg{
    width: 2px;
    height: 30px;

    background: #fff;
}

.navbar__btntext:hover{
    color: rgba(255, 255, 255, 0.75);

    transition: all 1s ease;
}

/* Shopping Cart Section */

.navbar__cartcontainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 90px;
    height: 120px;

    margin: 0px;
    padding: 0px;

}

.navbar__cart{
    text-align: center;

    width: 90px;
    height: 100px;
    
    background: #393837;
    
    transition: all 1s ease-out;
}

.fa-shopping-cart{
    padding: 0px;
    margin-top: 40px;

    color: #fff;
    font-size: 2em;

    text-align: center;

    transition: all 1s ease-out;
}

.navbar__cart:hover{
    background: #fff;
    color: #715B5B;

    transition: all 1s ease;
}

.navbar__cart:hover .fa-shopping-cart{
    color: #715B5B;

    transition: all 1s ease;
}

header.sticky .logo--light{
    display: none;
}

header.sticky .logo--dark{
    display: inline;
}

header.sticky .navbar__btntext{
    color: #57473A;
}

header.sticky .navbar__divider--reg{
    background: #57473A;
}

/* Header Section */

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 90vh;
    gap: 14px;
}

.header__main, .header__subtext{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.065em;
    
    color: #fff;

    transition: all 2s ease-in-out;

    margin: 0px;
    padding: 0px;

    text-shadow: 1px 1px 5px rgb(0, 0, 0, .5);
    text-align: center;

    cursor: context-menu;
}

.header__main{
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;

}

.header__subtext{
    font-weight: 400;
    font-size: 20px;
}

/* Scroll Button */

.scrollbtn{
    position: absolute;
    height: 3em;
    width: 2.25em;

    border: .10em solid #fff;
    border-radius: 2em;

    margin: auto;
    left: 0;
    right: 0;
    bottom: 4.25em;

    z-index: -1;
}

.scrollbtn:before{
    content: "";
    position: absolute;

    margin: auto;
    top: 4px;
    left: 0;
    right: 0;
    width: .15em;
    height: 10px;

    background-color: #fff;
    border-radius: 10px;

    animation: move-down 2s infinite;
}

@keyframes move-down{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(1.5em);
        opacity: 0;
    }
}

.scrollbtn:after{
    content: "scroll down";
    position: absolute;
    display: block;

    left: -62px;
    bottom: -30px;

    width: 10em;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.065em;
    color: #fff;

    text-align: center;
}

/* Body Section */

.main{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    margin: 0px;
    padding: 0px;
}

.body__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    margin: 40px;

}

/* Categories Section */

.body__categcontainer{
    display: flex;
    flex-direction: column;

    width: 1350px;
    height: 220px;

    background: #fff;
}

.categ__btn{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0.065em;

    padding: 25px;
    margin: 0px;

    text-decoration: none;

    color: #57473A;
}

.body__categories{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.categ__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 123px;
    height: 132px;

    margin: 0px;
    padding: 5px;
    
    border: 1px solid #acacac;
}

.categ__item:hover{
    border: 2px solid #acacac;
}

.categ__item:hover .categ__name{
    font-weight: bold;
}

.categ__itembtn{
    text-decoration: none;
}

.categ__name{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #000;

    margin: 0px;
    padding: 0px;
}

.image{
    width: auto;
    height: 70px;

    margin: 0px;
    padding: 0px;
}

#gadgetsimg, #bedimg{
    width: 100px;
}

/* Trending Section */

.body__trendcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 1350px;
    height: 210px;

    margin-top: 40px;

    background: #fff;
}

.trend__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: auto;

    padding: 25px;
    margin: 0px;
}

.trend__btn{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0.065em;
    text-align: center;

    margin: 0px;

    text-decoration: none;

    color: #57473A;

    cursor: context-menu;
}

.trend__subtext{
    position: relative;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.065em;

    text-decoration: none;

    margin: 20px 0px 10px 0px;
    
    color: #57473A;

    transition: all 1s ease-out;
}

.trend__subtext:hover{
    font-weight: bold;

    transition: all 1s ease;
}

.fa-circle-arrow-right{
    font-size: 2em;
    text-align: center;

    padding: 0px;

    transition: all 1s ease-out;
}

.fa-circle-arrow-right:hover{
    color: #a89687;

    transition: all 1s ease;
}

.navbar__divider--trend{
    width: 2px;
    height: 170px;

    background: #57473A;
}

/* Trending Containers */

.trend__scrollbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    margin-left: 20px;
    width: 1140px;
    height: 210px;

    overflow-x: scroll;
    overscroll-behavior: contain;    
}

::-webkit-scrollbar{
    width: 7px;
    height: 7px;

    background: #dcdcdc;
}

::-webkit-scrollbar-thumb{
    background: #57473A;

    border-radius: 7px;
}

.trend__item{
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    margin-right: 20px;

    transition: all 1s ease-out;
}

.trend__item:hover{
    filter: drop-shadow(4px 4px 4px #393837);

    transition: all 1s ease;
}

.trend__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;

    width: 500px;

    background: #D9D9D9;
    border-radius: 25px;
}

.trend__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    gap: 7px;

    margin: 20px;
}

.trend__title, .trend__subtitle{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.065em;
    color: #000;

    margin: 0px;
}

.trend__title{
    font-weight: 700;
}

.trend__subtitle{
    font-weight: 400;
}

.img__placeholder{
    width: 280px;
    height: 150px;

    background-size: cover;

    margin-right: 40px;
}

#wifipasalo{
    background-image: url(Images/router.jpg);
}

#bedmattress{
    background-image: url(Images/bedmattress.jpg);
}

#refrigerator{
    background-image: url(Images/refrigerator.jpg);
}

#computertable{
    background-image: url(Images/computertable.jpg);
}

/* Footer Section */

.footer{
    width: 100%;
    height: 173px;

    background: #fff;
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    height: 100%;
}

.footer__content{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 30px;

}

.content__item--left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0px;
    padding: 0px;

    height: 104.8px;
}

.content__title, .content__subtitle{
    font-family: 'Inter';
    color: #000;

    margin: 0px;
    padding: 5px;

    text-decoration: none;
}

.content__title{
    font-weight: bold;
    font-size: 16px;
}

.content__subtitle{
    font-size: 12px;
}

.navbar__divider--footer{
    width: 2px;
    height: 90px;

    background-color: #000;
}

.content__item--right{
    height: 107.2px;
}

.icon__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 17px;

    margin-top: 15px;
}

.fa-facebook, .fa-twitter, .fa-instagram{
    font-size: 2em;

    text-align: center;

    width: 36px;

    padding: 0px;

    color: #000;

    transition: all 1s ease-out;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-instagram:hover{
    color: #a89687;

    transition: all 1s ease;
}

.item__safety{
    display: flex;
    flex-direction: column;
    
    width: 580px;
}

.content__text{
    font-family: 'Inter';
    font-size: 10px;

    padding: 5px;
}